.side-panel-wrapper {
    display: flex;
    float: left;
    width: 25%;
}

.container {
    float: left;
    width: 75%;
    height: 60%
}

.center-align {
    text-align: center;
}

#side-panel {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(232, 230, 232);
    background-size: 100%;
}

.calendar-btn {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(150, 223, 215);
}

.calendar-header {
    display: flex;
    justify-content: center;
}

.panel-icon {
    float: left;
}

.panel-text {
    float: left;
    padding-top: 20px;
}

button {
    background-color: Transparent;
    outline: none;
    border: none;
}

table {
    width: 60%;
    border-collapse: collapse;
}
#event-display {
    display: none;
    width: 100%;
    height: 40%;
}

.event-show {
    display: initial;
}


.selected-cell {
    background-color: rgb(165, 221, 206);
}

.has-event {
    border-style: solid;
    border-color: rgb(165, 221, 206);
}


@media (max-width: 767px) {

    .panel-text {
        display: none;
    }
}