.side-panel-wrapper {
    display: flex;
    float: left;
    width: 25%;
}

.container {
    float: left;
    width: 75%;
    height: 60%
}

.cell-text-align {
    text-align: center;
}

#side-panel {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(232, 230, 232);
    background-size: 100%;
}

.calendar-btn {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(150, 223, 215);
}

.calendar-header {
    display: flex;
    justify-content: center;
}

.panel-icon {
    float: left;
}

.panel-text {
    float: left;
    padding-top: 20px;
}

button {
    background-color: Transparent;
    outline: none;
    border: none;
}

table {
    width: 60%;
    border-collapse: collapse;
}

#event-display {
    display: none;
    width: 100%;
    height: 40%;
}

.event-show {
    display: initial;
}


.selected-cell {
    background-color: rgb(165, 221, 206);
}

.has-event {
    outline:2px solid rgb(165, 221, 206);
}

.today {
    outline:2px solid rgb(37, 64, 81);
}


@media (max-width: 767px) {
    .container {
        width: 90%;
    }

    .side-panel-wrapper {
        width: 10%;
    }

    .panel-text {
        display: none;
    }

    td {
        font-size: 10px;
        padding: 0;
    }

    tr {
        font-size: 12px;
        padding: 0;
    }

    #calendar-container {
        padding: 0;
    }

    #month-year {
        font-size: 12px;
    }
}